<% form_for @calender do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :published_on %><br />
    <%= f.text_field :published_on %>
  </p>
  <p><%= f.submit %></p>
<% end %>
