<% form_for [:admin, @event] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :image_file_name %><br />
    <%= f.text_field :image_file_name %>
  </p>
  <p>
    <%= f.label :payment_top_html %><br />
    <%= f.text_field :payment_top_html %>
  </p>
  <p>
    <%= f.label :reservation_top_html %><br />
    <%= f.text_field :reservation_top_html %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
    <%= f.check_box :title_show %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :purchaseable %>
    <%= f.check_box :purchaseable %>
  </p>
  <p>
    <%= f.label :type_title %><br />
    <%= f.collection_select :type_title, Reservation::TYPES, :to_s, :humanize %>
  </p>
  <p>
    <%= f.label :note_title %><br />
    <%= f.text_area :note_title %>
    <%= f.check_box :note_title_show %>
  </p>
  <p>
   <% Category.all.each do |category| -%>
     <%= check_box_tag "event[category_ids][]", category.id, @event.categories.include?(category) %>
     <%= category.title %>
   <% end %>
  </p>
  <p>
    <%= f.label :date_title %><br />
    <%= f.text_field :date_title %>
    <%= f.check_box :date_title_show %>
  </p>
  <p>
    <%= f.label :time_title %><br />
    <%= f.text_field :time_title %>
    <%= f.check_box :time_title_show %>
  </p>
  <p>
    <%= f.label :address_title %><br />
    <%= f.text_field :address_title %>
    <%= f.check_box :address_title_show %>
  </p>
  <p>
    <%= f.label :city_title %><br />
    <%= f.text_field :city_title %>
    <%= f.check_box :city_title_show %>
  </p>
  <p>
    <%= f.label :zipcode_title %><br />
    <%= f.text_field :zipcode_title %>
    <%= f.check_box :zipcode_title_show %>
  </p>
  <p>
    <%= f.label :first_name_title %><br />
    <%= f.text_field :first_name_title %>
    <%= f.check_box :first_name_title_show %>
  </p>
  <p>
    <%= f.label :last_name_title %><br />
    <%= f.text_field :last_name_title %>
    <%= f.check_box :last_name_title_show %>
  </p>
  <p>
    <%= f.label :email_title %><br />
    <%= f.text_field :email_title %>
    <%= f.check_box :email_title_show %>
  </p>
  <p>
    <%= f.label :phone_title %><br />
    <%= f.text_field :phone_title %>
    <%= f.check_box :phone_title_show %>
  </p>
  <p>
    <%= f.label :field1_title %><br />
    <%= f.text_field :field1_title %>
    <%= f.check_box :field1_title_show %>
  </p>
  <p>
    <%= f.label :field2_title %><br />
    <%= f.text_field :field2_title %>
    <%= f.check_box :field2_title_show %>
  </p>
  <p>
    <%= f.label :field3_title %><br />
    <%= f.text_field :field3_title %>
    <%= f.check_box :field3_title_show %>
  </p>
  <p>
    <%= f.label :radio11_title %><br />
    <%= f.text_field :radio11_title %>
    <%= f.check_box :radio1_title_show %>
  </p>
  <p>
    <%= f.label :radio12_title %><br />
    <%= f.text_field :radio12_title %>
  </p>
  <p>
    <%= f.label :radio13_title %><br />
    <%= f.text_field :radio13_title %>
  </p>
  <p>
    <%= f.label :radio21_title %><br />
    <%= f.text_field :radio21_title %>
    <%= f.check_box :radio2_title_show %>
  </p>
  <p>
    <%= f.label :radio22_title %><br />
    <%= f.text_field :radio22_title %>
  </p>
  <p>
    <%= f.label :radio23_title %><br />
    <%= f.text_field :radio23_title %>
  </p>
  <p><%= f.submit %></p>
<% end %>

