<% title "Admin:Events" %>

<table>
  <tr>
    <th>Title title</th>
    <th>Type title</th>
    <th>Note title</th>
    <th>Date title</th>
    <th>Time title</th>
    <th>Address title</th>
    <th>City title</th>
    <th>Zipcode title</th>
    <th>First Name title</th>
    <th>Last Name_title</th>
    <th>Email title</th>
    <th>Phone title</th>
    <th>Field1 title</th>
    <th>Field2 title</th>
    <th>Field3 title</th>
    <th>Radio11 title</th>
    <th>Radio12 title</th>
    <th>Radio13 title</th>
  </tr>
  <% for event in @events %>
    <tr>
      <td><%=h event.title %></td>
      <td><%=h event.type_title %></td>
      <td><%=h event.note_title %></td>
      <td><%=h event.date_title %></td>
      <td><%=h event.time_title %></td>
      <td><%=h event.address_title %></td>
      <td><%=h event.city_title %></td>
      <td><%=h event.zipcode_title %></td>
      <td><%=h event.first_name_title %></td>
      <td><%=h event.last_name_title %></td>
      <td><%=h event.email_title %></td>
      <td><%=h event.phone_title %></td>
      <td><%=h event.field1_title %></td>
      <td><%=h event.field2_title %></td>
      <td><%=h event.field3_title %></td>
      <td><%=h event.radio11_title %></td>
      <td><%=h event.radio12_title %></td>
      <td><%=h event.radio13_title %></td>
      <td>
        <%= link_to "Show", admin_event_path(event) %>
      </td>
      <td>
        <%= link_to "Edit", edit_admin_event_path(event) %>
      </td>
      <td>
        <%= link_to "Destroy", admin_event_path(event), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Event", new_admin_event_path %></p>

