<% form_for [:admin, @reservation] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :trip_id %><br />
    <%= f.text_field :trip_id %>
  </p>
  <p>
    <%= f.label :event_id %><br />
    <%= f.text_field :event_id %>
  </p>
  <p>
    <%= f.label :type_of %><br />
    <%= f.text_field :type_of %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= calendar_date_select_tag "reservation[date]", @reservation.date, :time => true, :size => '30' %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= calendar_date_select_tag "reservation[time]", @reservation.time, :time => true, :size => '30' %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.label :field1 %><br />
    <%= f.text_field :field1 %>
  </p>
  <p>
    <%= f.label :field2 %><br />
    <%= f.text_field :field1 %>
  </p>
  <p>
    <%= f.label :field3 %><br />
    <%= f.text_field :field1 %>
  </p>
  <p>
    <%= f.label :publised %><br />
    <%= f.text_field :published %>
  </p>
  <p>
    <%= f.label :publised_on %><br />
    <%= f.date_select :published_on %>
  </p>
  <p><%= f.submit %></p>
<% end %>

