<% title "Admin:Reservations" %>

<% for reservation in @reservations %>
  <% event = Event.find(reservation.event_id) -%>
<table>
  <tr>
    <th><%=h event.title %> |</th>
    <th><%=h event.type_title %> |</th>
    <th><%=h event.date_title %> |</th>
    <th><%=h event.time_title %> |</th>
    <th><%=h event.address_title %> |</th>
    <th><%=h event.city_title %> |</th>
    <th><%=h event.zipcode_title %> |</th>
    <th><%=h event.first_name_title %> |</th>
    <th><%=h event.last_name_title %> |</th>
    <th><%=h event.email_title %> |</th>
    <th><%=h event.phone_title %> |</th>
    <th><%=h event.note_title %>l</th>
  </tr>
    <tr>
      <td><%=h reservation.event_id %></td>
      <td><%=h reservation.type_of %></td>
      <td><%=h reservation.date %></td>
      <td><%=h reservation.time %></td>
      <td><%=h reservation.address %></td>
      <td><%=h reservation.city %></td>
      <td><%=h reservation.zipcode %></td>
      <td><%=h reservation.first_name %></td>
      <td><%=h reservation.last_name %></td>
      <td><%=h reservation.email %></td>
      <td><%=h reservation.phone %></td>
      <td><%=h reservation.note %></td>
      <td><%= link_to "Show", admin_reservation_path(reservation) %></td>
      <td><%= link_to "Edit", edit_admin_reservation_path(reservation) %></td>
      <td><%= link_to "Destroy", admin_reservation_path(reservation), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

