<dl class="dropdown">
  <dt id="one-ddheader" onmouseover="ddMenu('one',1)" onmouseout="ddMenu('one',-1)">Dropdown One</dt>
  <dd id="one-ddcontent" onmouseover="cancelHide('one')" onmouseout="ddMenu('one',-1)">
    <ul>
      <li><a href="#" class="underline">Navigation Item 1</a></li>
      <li><a href="#" class="underline">Navigation Item 2</a></li>
      <li><a href="#" class="underline">Navigation Item 3</a></li>
      <li><a href="#" class="underline">Navigation Item 4</a></li>
      <li><a href="#">Navigation Item 5</a></li>
    </ul>
  </dd>
</dl>

<dl class="dropdown">
  <dt id="two-ddheader" onmouseover="ddMenu('two',1)" onmouseout="ddMenu('two',-1)">Dropdown Two</dt>
  <dd id="two-ddcontent" onmouseover="cancelHide('two')" onmouseout="ddMenu('two',-1)">
    <ul>
      <li><a href="#" class="underline">Navigation Item 1</a></li>
      <li><a href="#" class="underline">Navigation Item 2</a></li>
      <li><a href="#" class="underline">Navigation Item 3</a></li>
      <li><a href="#" class="underline">Navigation Item 4</a></li>
      <li><a href="#">Navigation Item 5</a></li>
    </ul>
  </dd>
</dl>

<br >
<br >
<br >

<%= link_to 'Home', root_path %> |
<% if logged_in? -%>
  <%= link_to 'Edit Profile',
      edit_user_path(current_user) %> |
  <%= link_to 'Log out', logout_path %> |
<% else -%>
  <%= link_to 'Signup', signup_path %> |
  <%= link_to 'Login', login_path %> |
<% end -%>
<%= link_to 'Ads', ads_path %> |
<%= link_to 'Contact', contact_path %> |
<%= link_to 'Courier', courier_path %> |
<%= link_to 'Feedback', feedback_path %> |
<%= link_to 'Job', job_path %> |
<%= link_to 'Rates', rates_path %> |
<%= link_to 'Terms', terms_path %> |
<%= link_to 'Calender', calenders_path %>

