<% form_for [:admin, @trip] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.text_field :date %>
  </p>
  <p>
    <%= f.label :passengers %><br />
    <%= f.text_field :passengers %>
  </p>
  <p><%= f.submit %></p>
<% end %>

