<% title "Admin:Trips" %>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Passengers</th>
  </tr>
  <% for trip in @trips %>
    <tr>
      <td><%=h trip.title %></td>
      <td><%=h trip.date %></td>
      <td><%=h trip.passengers %></td>
      <td><%= link_to "Show", admin_trip_path(trip) %></td>
      <td><%= link_to "Edit", edit_admin_trip_path(trip) %></td>
      <td><%= link_to "Destroy", admin_trip_path(trip), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Trip", new_admin_trip_path %></p>

