<% title "Admin/Trips" %>

<table>
  <tr>
    <th>Title</th>
    <th>Date</th>
    <th>Passengers</th>
    <th>Address</th>
  </tr>
  <% for admin/trip in @admin/trips %>
    <tr>
      <td><%=h admin/trip.title %></td>
      <td><%=h admin/trip.date %></td>
      <td><%=h admin/trip.passengers %></td>
      <td><%=h admin/trip.address %></td>
      <td><%= link_to "Show", admin/trip %></td>
      <td><%= link_to "Edit", edit_admin/trip_path(admin/trip) %></td>
      <td><%= link_to "Destroy", admin/trip, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Trip", new_admin/trip_path %></p>
