<% title "Admin/Trip" %>

<p>
  <strong>Title:</strong>
  <%=h @admin/trip.title %>
</p>
<p>
  <strong>Date:</strong>
  <%=h @admin/trip.date %>
</p>
<p>
  <strong>Passengers:</strong>
  <%=h @admin/trip.passengers %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @admin/trip.address %>
</p>

<p>
  <%= link_to "Edit", edit_admin/trip_path(@admin/trip) %> |
  <%= link_to "Destroy", @admin/trip, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin/trips_path %>
</p>
