<% title "Admin:Trip" %>

<p>
  <strong>Title:</strong>
  <%=h @trip.title %>
</p>
<p>
  <strong>Date:</strong>
  <%=h @trip.date %>
</p>
<p>
  <strong>Passengers:</strong>
  <%=h @trip.passengers %>
</p>

<h3>Reservations: <%=@trip.reservations.count %></h3>
  <% @trip.reservations.each do |r| -%>
    <p>
      <strong>Id:</strong>
      <%=h r.id %>
    </p>
    <p>
      <strong>Date:</strong>
      <%=h r.date %>
    </p>
  <% end -%>

<p>
  <%= link_to "Show", admin_trip_path(@trip) %>
  <%= link_to "Edit", edit_admin_trip_path(@trip) %>
  <%= link_to "Destroy", admin_trip_path(@trip), :confirm => 'Are you sure?', :method => :delete %>
</p>

