<p>
  <%= f.label :date_round %><br />
<%= calendar_date_select_tag "reservation[date_round]", @reservation.date_round, :time => true %>
<p>
  <%= f.label :address_round %><br />
  <%= f.text_field :address_round %>
</p>
<p>
  <%= f.label :city_round %><br />
  <%= f.text_field :city_round %>
</p>
<p>
  <%= f.label :zipcode_round %><br />
  <%= f.text_field :zipcode_round %>
</p>

