<%= @reservation.current_step %>
<% form_for @reservation do |f| %>
  <%= f.error_messages %>
  <p>
    <strong>Event: </strong>
    <%=h @reservation.event_id %>
  </p>
  <p>
    <strong>Type of: </strong>
    <%=h @reservation.type_of %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </p>
  <p>
    <%= f.label :time %><br />
    <%= f.time_select :time %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :zipcode %><br />
    <%= f.text_field :zipcode %>
  </p>
  <% if -%>
    <%= render 'round_trip_form', :f => f %>
  <% end -%>

  <% unless logged_in? -%>
    <%= render "user_info", :f => f %>
  <% end -%>

  <p><%= f.submit "Next", :name => "next_button" %>
     <%= f.submit "Back", :name => "back_button" %></p>
<% end %>

