<% title "Please enter in Trip details: #{@reservation.current_step}" -%>

<% form_for @reservation do |f| %>
  <%= f.error_messages %>

  <p>
    <strong>
      <%= (@reservation.type_of.to_s).humanize %>:
    </strong>
    <% if @event -%>
      <% if admin? -%>
      <%= link_to @event.title, admin_event_path(@event) %> |
      <% else -%>
        <%=h @event.title %>
      <% end -%>
    <% end -%>
      <%= f.submit "Change", :name => "back_button" %></p>
  </p>

<% if @event -%>
  <% if @event.date_title_show == true -%>
    <p>
      <%= f.label @event.date_title %><br />
	    <%= calendar_date_select_tag "reservation[date]", @reservation.date, :time => true, :size => '30' %>
    </p>
  <% end -%>

  <% if @event.address_title_show == true -%>
    <p>
      <%= f.label @event.address_title %><br />
      <%= f.text_field :address %>
    </p>
  <% end -%>

  <% if @event.city_title_show == true -%>
    <p>
      <%= f.label @event.city_title %><br />
      <%= f.text_field :city %>
    </p>
  <% end -%>

  <% if @event.zipcode_title_show == true -%>
    <p>
      <%= f.label @event.zipcode_title %><br />
      <%= f.text_field :zipcode %>
    </p>
  <% end -%>

  <% if @reservation.round_trip? -%>
    <%= render 'round_trip_form', :f => f %>
  <% end -%>

  <% unless logged_in? -%>
    <%= render "user_info", :f => f %>
  <% end -%>

<% end -%>
  <p>
    <%= f.submit "Next", :name => "next_button" %>
    <%= f.submit "Back", :name => "back_button" %>
  </p>
<% end %>

