<% title "Please confirm your Trip details: #{@reservation.current_step}" -%>

  <p>
    <strong>
      <%= (@reservation.type_of.to_s).humanize %>:
    </strong>
    <% if @event -%>
      <% if admin? -%>
      <%= link_to @event.title, admin_event_path(@event) %>
      <% else -%>
        <%=h @event.title %>
      <% end -%>
    <% end -%>
  </p>

<p>
<%= show_title( @event.date_title_show,
                @event.date_title,
                @reservation.date) %>
</p>
<p>
<%= show_title( @event.time_title_show,
                @event.time_title,
                @reservation.time) %>
</p>
<p>
<%= show_title( @event.address_title_show,
                @event.address_title,
                @reservation.address) %>
</p>
<p>
<%= show_title( @event.city_title_show,
                @event.city_title,
                @reservation.city) %>
</p>
<p>
<%= show_title( @event.zipcode_title_show,
                @event.zipcode_title,
                @reservation.zipcode) %>
</p>
<p>
<%= show_title( @event.first_name_title_show,
                @event.first_name_title,
                @reservation.first_name) %>
</p>
<p>
<%= show_title( @event.last_name_title_show,
                @event.last_name_title,
                @reservation.last_name) %>
</p>
<p>
<%= show_title( @event.email_title_show,
                @event.email_title,
                @reservation.email) %>
</p>
<p>
<%= show_title( @event.phone_title_show,
                @event.phone_title,
                @reservation.phone) %>
</p>
<p>
<%= show_title( @event.note_title_show,
                @event.note_title,
                @reservation.note) %>
</p>
<p>
<%= show_title( @event.field1_title_show,
                @event.field1_title,
                @reservation.field1) %>
</p>
<p>
<%= show_title( @event.field2_title_show,
                @event.field2_title,
                @reservation.field2) %>
</p>
<p>
<%= show_title( @event.field3_title_show,
                @event.field3_title,
                @reservation.field3) %>
</p>
<p>
  <b><%= @reservation.radio1 %></b>
</p>
<p>
  <b><%= @reservation.radio2 %></b>
</p>

<% form_for @reservation do |f| %>
  <%= f.submit 'Confirm', :name => "next_button" %>
  <%= f.submit 'Back', :name => "back_button" %>
<% end -%>

<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
<input type="hidden" name="return" value="<%= root_url %>">
<input type="hidden" name="cmd" value="_xclick">
<input type="hidden" name="business" value="senthi_1280964269_biz@gmail.com">
<input type="hidden" name="lc" value="US">
<input type="hidden" name="item_name" value="<%=h @event.title %>">
<input type="hidden" name="button_subtype" value="products">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">

<input type="hidden" name="on0" value="Type of Ticket(s)">Please Confirm your order:<br/>
<strong><%= @event.title %>: $<%= @event.price %></strong><br/><br/>

<input type="hidden" name="os0" value="<%= @event.title %>">
<input type="hidden" name="currency_code" value="USD">
<input type="hidden" name="option_select0" value="<%= @event.title %>">
<input type="hidden" name="option_amount0" value="<%= @event.price %>">
Number of tickets:&nbsp;<select name="quantity">
<option value="1" selected>1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
</select>
<input type="hidden" name="option_index" value="0"><br/>
<input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

